
.nav{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0px; 
    width: 100%;
    justify-content: space-evenly;
    background-color:#fff;
    height: 7vh;
    border-top: 2px solid #e5e5e5;


   &_img{
width: 28px;
height: 28px;


   }

}
