.b-form_reserva{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_form{
    display: flex;
    align-items: flex-end;
    border: 0ch;
    border-radius: 4px;
    color: orange;
}